@import url('https://fonts.googleapis.com/css2?family=Domine&family=Lora:ital,wght@1,600&display=swap');

.navbar {}

.custom-row {
    padding: 3rem 0;
}

.custom-heading {
    color: green;
}

.card {
    height: 100%;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cabin-carousel {
    width: 60%;
}