@import url('https://fonts.googleapis.com/css2?family=Domine&family=Lora:ital,wght@1,600&display=swap');

/* General rules */

body {
    background-color: #4D8A6B;
    font-family: 'Lora', 'Domine', serif;
}

/* Navigation bar */

.navbar {
    padding-left: 2rem;
    background-color: #502038;
}

.navbar-logo {
    max-height: 3.5rem;
    max-width: auto;
    border-radius: 50%;
    overflow: hidden;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #4D8A6B;
}

.navbar-toggler {
    background-color: #c59d74;
}

.dropdown-menu {
    background-color: #c59d74;
}

.custom-row {
    padding: 3rem 0;
}

.custom-heading {
    color: #ffffff;
    margin-top: 1rem;
}

.card {
    height: 100%;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cabin-carousel {
    width: 60%;
}

/* Media Queries */

/* Media Queries for max-width: 576px (small screens) */

@media (max-width:576px) {

    .custom-heading {
        font-size: 1.5rem;
    }
}