.navbar {
    padding: 1.5rem 8rem;
}

.custom-row {
    padding: 3rem 0;
}

.custom-heading {
    color: green;
}

.card {
    height: 100%;
}

.card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#cabin-carousel {
    width: 60%;
}