{% extends 'base.html' %}

{% block title %}
Booking Successful
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center custom-heading">Booking Successful!</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Thank you for your booking</h5>
                    <p class="card-text">Your booking has been confirmed.</p>
                    <p class="card-text">Booking details:</p>
                    <ul>
                        <li>Cabin: {{ cabin.name }}</li>
                        <li>Date: {{ booking.date }}</li>
                        <li>Guests: {{ booking.guests }}</li>
                    </ul>
                    <p class="card-text">If you have any questions or need further assistance, please contact our
                        support team.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}