{% extends 'base.html' %}

{% block title %}
Booking Overview
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-center custom-heading">My Bookings</h2>
    <div class="row">
        {% if bookings %}
        {% for booking in bookings %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ booking.cabin.image.url }}" class="card-img-top" alt="{{ booking.cabin.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ booking.cabin.name }}</h5>
                    <p class="card-text">{{ booking.cabin.description }}</p>
                    <p class="card-text">Booking ID: {{ booking.id }}</p>
                    <p class="card-text">Check In Date: {{ booking.check_in_date }}</p>
                    <p class="card-text">Check Out Date: {{ booking.check_out_date }}</p>
                    <p class="card-text">Guests: {{ booking.num_guests }}</p>
                    <p class="card-text">Bedrooms: {{ booking.cabin.bedrooms }}</p>
                    {% if booking.cave_exploration_tickets %}
                    <p class="card-text">Cave Exploration: {{ booking.cave_exploration_tickets }} Tickets</p>
                    {% endif %}
                    {% if booking.kayak_rentals %}
                    <p class="card-text">Kayak Rentals: {{ booking.kayak_rentals }} Kayaks</p>
                    {% endif %}
                    <p class="card-text text-uppercase">Total Price: {{ booking.total_price }}€</p>
                    <div class="btn-group">
                        <a href="{% url 'edit_booking' booking.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'delete_booking' booking.id %}" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">No bookings found.</p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}