{% extends "base.html" %}
{% load static %}

{% block title %}Woodland Whispers | Contact{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center custom-heading">Contact Information</h2>
                    <div class="contact-info">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Address:</strong> 1234 Retreat Lane, Woodland, CA 95695
                            </li>
                            <li class="list-group-item"><strong>Phone:</strong> +1 (123) 456-7890</li>
                            <li class="list-group-item"><strong>Email:</strong> info@woodlandwhispersretreat.com</li>
                            <li class="list-group-item">
                                <strong>Social Links:</strong>
                                <ul class="list-inline social-links">
                                    <li class="list-inline-item">
                                        <a href="https://github.com/Thomas-Tomo" target="_blank"
                                            rel="noopener noreferrer">
                                            <i class="fab fa-github"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.linkedin.com/in/thomasdomitrovic/" target="_blank"
                                            rel="noopener noreferrer">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.facebook.com/thomastomo.domitrovic/" target="_blank"
                                            rel="noopener noreferrer">
                                            <i class="fab fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="https://www.instagram.com/thomas.domitrovic/" target="_blank"
                                            rel="noopener noreferrer">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}