{% extends "base.html" %}
{% block title %}
Delete Booking
{% endblock %}
{% load i18n %}

{% block content %}
<!-- Delete Booking -->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center custom-heading">{% trans "Confirm Booking Deletion" %}</h1>
            <div class="card">
                <div class="card-body text-center">

                    <div class="card-text">
                        <p>{% trans 'Are you sure you want to delete the booking with ID' %} {{ booking.id }}?</p>
                    </div>

                    <form method="post" action="{% url 'delete_booking' booking.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Confirm Delete</button>
                        <a href="{% url 'booking_overview' %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}