{% extends 'base.html' %}
{% block title %}
Edit Booking
{% endblock %}

{% block content %}
<!-- Edit Booking -->

<div class="container">
    <h2 class="text-center custom-heading">Edit Booking</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3 mb-4">
            <div class="card">
                <img src="{{ booking.cabin.image.url }}" class="card-img-top" alt="{{ booking.cabin.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ booking.cabin.name }}</h5>
                    <p class="card-text">{{ booking.cabin.description }}</p>
                    <p class="card-text">Booking ID: {{ booking.id }}</p>
                    <p class="card-text">Check In Date: {{ booking.check_in_date }}</p>
                    <p class="card-text">Check Out Date: {{ booking.check_out_date }}</p>
                    <p class="card-text">Guests: {{ booking.num_guests }}</p>
                    <form method="post" action="{% url 'edit_booking' booking.id %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="check-in" class="col-sm-4 col-form-label">Check-in Date</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control flatpickr" id="check-in" name="check_in_date"
                                        value="{{ booking.check_in_date|date:'Y-m-d' }}" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="check-out" class="col-sm-4 col-form-label">Check-out Date</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control flatpickr" id="check-out"
                                        name="check_out_date" value="{{ booking.check_out_date|date:'Y-m-d' }}"
                                        required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="guests" class="col-sm-4 col-form-label">Number of Guests</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="guests" name="num_guests"
                                    value="{{ booking.num_guests }}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cave-tickets" class="col-sm-4 col-form-label">Cave Exploration Tickets</label>
                            <div class="col-sm-8">
                                <!-- Set default value to 0 if cave_exploration_tickets is None -->
                                <input type="number" class="form-control" id="cave-tickets" name="cave_exploration_tickets"
                                    value="{{ booking.cave_exploration_tickets|default_if_none:'0' }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kayak-rentals" class="col-sm-4 col-form-label">Kayak Rentals</label>
                            <div class="col-sm-8">
                                <!-- Set default value to 0 if kayak_rentals is None -->
                                <input type="number" class="form-control" id="kayak-rentals" name="kayak_rentals"
                                    value="{{ booking.kayak_rentals|default_if_none:'0' }}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /* Set up a flatpickr date picker and disable already booked dates */
    let bookedDatesJson = '{{ booked_dates_json|safe }}';
    if (bookedDatesJson) {
        let bookedDates = JSON.parse(bookedDatesJson);
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr('.flatpickr', {
                dateFormat: 'Y-m-d',
                minDate: 'today',
                disable: bookedDates.map(function (dates) {
                    return {
                        from: dates[0],
                        to: dates[1]
                    };
                }),
                static: true
            });
        });
    }
</script>
{% endblock %}