{% extends 'base.html' %}

{% block title %}
Cabin Booking
{% endblock %}

{% block content %}
<div class="container mb-4">
    <h2 class="text-center custom-heading">Make a Booking</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <img src="{{ cabin.image.url }}" class="card-img-top" alt="{{ cabin.name }}">
                <div class="card-body">
                    <h3 class="card-title">{{ cabin.name }}</h3>
                    <p class="card-text">{{ cabin.description }}</p>
                    <p class="card-text">Number of Bedrooms: {{cabin.bedrooms}} </p>
                    <p class="card-text">Maximum Guests: {{cabin.max_guests}} </p>
                    <p class="card-text">Price: {{cabin.price}}€ </p>
                    <form method="POST" action="{% url 'my_booking' cabin.id %}">
                        {% csrf_token %}
                        <div class="form-group row">
                            <label for="check-in" class="col-sm-4 col-form-label">Check-in Date</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control flatpickr" id="check-in" name="check_in_date"
                                        required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="check-out" class="col-sm-4 col-form-label">Check-out Date</label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control flatpickr" id="check-out"
                                        name="check_out_date" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="guests" class="col-sm-4 col-form-label">Number of Guests</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="guests" name="num_guests" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8 offset-sm-4">
                                <button type="submit" class="btn btn-primary">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var bookedDatesJson = '{{ booked_dates_json|safe }}';
    if (bookedDatesJson) {
        var bookedDates = JSON.parse(bookedDatesJson);
        document.addEventListener('DOMContentLoaded', function () {
            flatpickr('.flatpickr', {
                dateFormat: 'Y-m-d',
                minDate: 'today',
                disable: bookedDates.map(function (dates) {
                    return {
                        from: dates[0],
                        to: dates[1]
                    };
                }),
                static: true
            });
        });
    }
</script>
{% endblock %}